# Chapter 2. 試著利用機器學習進行分析

這章要學習執行程式的流程，以便學習機器的基礎。

## Section 1. Exploratory Data Analysis

在開始建立各種模型之前，要先了解目前資料的狀況

In [1]:
import pandas as pd
df = pd.read_csv("accomodation_info.csv", index_col=0, parse_dates=[0])
df

                       病人ID    病人姓名 科別     金額
日期
2018-11-01 00:02:21  110034   若松 花子  B  19000
2018-11-01 00:03:10  112804  津田 美加子  D  20000
2018-11-01 00:06:19  110275  吉本 美加子  D  20000
2018-11-01 00:08:41  110169   坂本 直人  B  19000
2018-11-01 00:12:22  111504    青山 零  A  15000
...                     ...     ... ..    ...
2020-10-31 23:38:51  110049   吉本 篤司  A   3000
2020-10-31 23:42:12  110127    喜嶋 浩  A   3000
2020-10-31 23:47:24  115464   藤本 明美  D   8000
2020-10-31 23:53:22  114657   鈴木 七夏  A   3000
2020-10-31 23:57:21  111407    鈴木 治  A   3000

[71722 rows x 4 columns]